.grid input
{
	display: none;

}
body
{
	margin: 0;
}


.back
{
	background: linear-gradient( to right, #f2d513 1% , #fa7f0c 70%);
	height: 100vh;
	width: 100vw;
}
.img1
{
	width: 300px;
	height: 300px;
	border-radius: 11px;
}
.grid2
{
	display: grid;
	grid-auto-rows: auto;
	grid-row-gap: 20px;
	align-content: center;
}
.text
{
	color: gray;
	font-size: 18px;
}
.text1
{
	font-size: 22px;
	font-weight: 600;
}
.text2
{
	font-size: 20px;
	color: lightgray;
	font-weight: 600;
}

.gridm
{
	
	width: 800px;
	
	background-color: white;
	grid-template-columns:repeat(8,1fr);
	padding: 20px;
	border-radius: 11px;

	
}
#label-1,#label-2,#label-3
{
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: lightgray;
	transition: height 1s;
}
.labels
{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-row-gap: 5px;
	align-content: center;
	justify-content: center;
}
.item-b
{
	grid-column: 4/8;

}
.item-a
{
	grid-column: 1/3;
	position: relative;
	left: -80px;
	transform: rotate(5deg) ;

	transition: transform 1s ;

}
.grid
{
	display: grid;
	justify-content: center;
	padding: 20px;

}

.tab1,.tab2,.tab3
{

display: none;

}
#sec1-r1:checked ~ .tab1
{
	display: grid;
}
#sec1-r2:checked ~ .tab2
{
	display: grid;
}
#sec1-r3:checked ~ .tab3
{
	display: grid;
}

#sec1-r1:checked ~ .gridm .labels #label-1
{
	background-image:linear-gradient( to right, #f2d513 1% , #fa7f0c 70%);
	height: 30px;
	border-radius: 11px;


}
#sec1-r2:checked ~ .gridm .labels #label-2
{
	background-image:linear-gradient( to right, #f2d513 1% , #fa7f0c 70%);
	height: 30px;
	border-radius: 11px;

}
#sec1-r3:checked ~ .gridm .labels #label-3
{
	background-image:linear-gradient( to right, #f2d513 1% , #fa7f0c 70%);
	height: 30px;
	border-radius: 11px;

}
.gradient
{
	background-image: linear-gradient( to right, rgb(242, 213, 19,0.5) 1% , rgb(250, 127, 12,0.5) 70%);
    top: 0;
    bottom: 4px;
    left: 0;
    right: -100px;
    position: absolute;
    z-index: 1;
    border-radius: 11px;
}
.item-a:hover
{
	transform: rotate(0deg) translateY(20px);
}
